*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.input_video{
    
}

.output_canvas{
display: none;
}

.results div{
    display: flex;
    flex-direction: row;
    width: 1280px;
    justify-content: space-evenly;
}