@font-face {
    font-family: "SuttonSignWritingLine";
    src:
      local('SuttonSignWritingLine'),
      url('https://unpkg.com/@sutton-signwriting/font-ttf@1.0.0/font/SuttonSignWritingLine.ttf') format('truetype');
  }
  @font-face {
    font-family: "SuttonSignWritingFill";
    src:
      local('SuttonSignWritingFill'),
      url('https://unpkg.com/@sutton-signwriting/font-ttf@1.0.0/font/SuttonSignWritingFill.ttf') format('truetype');
  }
  @font-face {
    font-family: "SuttonSignWritingOneD";
    src:
      local('SuttonSignWritingOneD'),
      url('https://unpkg.com/@sutton-signwriting/font-ttf@1.0.0/font/SuttonSignWritingOneD.ttf') format('truetype');
  }

*{
    margin: 0;
    padding: 0;
    display: inline-block;
    box-sizing: border-box;
}
.welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 1rem
}

.welcome h1{
    font-size: 3rem;
    
}

.welcome p{
    width: 75%;
    text-align: center;
    margin: 1.5rem 0;
}

.collection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.video_container, .img_container{
    position: relative;
    width: 40vw;
}

.input_video, .photo{
    width: 100%;
    height: auto;
}

.video_canvas{
    position: absolute;
    left: 0;
    width: 100%
}

.output_canvas{
    display: none;
}

.recordBtn{
    width: 75vw;
    height: 3rem;
    font-size: 2rem;
    border: none;
    border-radius: 10px;
    background: green;
    margin: 1rem;
}

.recordBtn:disabled{
    background: #606060;
    color: #767676;
}

.response{
    width: 100%;
    text-align: center;
    font-family: "SuttonSignWritingOneD";
    font-size: 5rem;
}

fieldset{
    width: 100vw;
}

legend{
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    font-size: 1.25rem;
}
fieldset label{
    max-width: 10vw;
}

fieldset label img{
    width: 80%;
}

script{
    display: none;
}