*{
    margin: 0;
    padding: 0;
    display: inline-block;
    box-sizing: border-box;
}
.welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 1rem
}

.welcome h1{
    font-size: 3rem;
    
}

.welcome p{
    width: 75vw;
    text-align: center;
    margin: 1.5rem 0;
    font-size: 1.4rem;
}

.welcome ol li{
    width: 75vw;
    display: list-item;
    font-size: 1rem;
}

.collection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.video_container, .img_container{
    position: relative;
    width: 90vw;
}

.input_video, .photo{
    width: 100%;
    height: auto;
}

.video_canvas{
    position: absolute;
    left: 0;
    width: 100%
}

.output_canvas{
    display: none;
}

.recordBtn{
    width: 90vw;
    height: 5rem;
    font-size: 3.5rem;
    border: none;
    border-radius: 10px;
    background: green;
    margin: 1rem;
}

.response{
    width: 100%;
    text-align: center;
    margin: 0 0 1rem;
    font-size: 1.5rem;
}

fieldset{
    width: 90vw;
    height: 20vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

legend{
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    font-size: 1.45rem;
}
fieldset label{
    /*! max-width: 50vw; */
    /*! max-height: 20vh; */
    margin: 0 0 .5rem;
}

fieldset label img{
    max-width: 80%;
    max-height: 20vh;
}

@media screen and (min-width: 1024px){
    .welcome ol li{
        font-size: 1.4rem;
        width: inherit;
    }

    fieldset{
        height: 25vh;
    }    

    .recordBtn{
        height: 3rem;
        font-size: 2rem;
    }
    
    .video_container, .img_container{
        width: 42.5vw
    }
}

script{
    display: none;
}